h1 {
    text-decoration: underline;
    letter-spacing: 10px;
    text-align: center;
    font-weight: lighter;
}

h2 {
    text-align: center;
    color: green;
    font-weight: lighter;
}

.building{
    width: 247px;
}

.motto {
    height: 247px;
}

p {
    line-height: 30px;
}

.paragraph {
    margin: 10px 5px 10px 10px;
    border: 1px solid blue; 
    padding: 20px;
}

.heading {
    border: 5px solid green;
    margin: 14px;
}

.pictures {
    border: 3px solid yellow;
    margin: 5px;
    width: 648px;
}